
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    display: block;
    width: 100%;
    height:100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}


.container {
    background-color: #fff;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 100vh;
    padding: 24px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.box {
    width: calc(100% - 24px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    margin: 0 22px;
    padding: 24px;
    overflow: hidden;
    border-radius: 8px;
    color: #444;
    background: #FAFAFA;
    outline:0;
    border: 1px solid transparent;
}

.box:focus {
    border: 1px solid rgba(255, 75, 90, 0.7607843137254902);
}

.box + .box {
    margin-top: 48px;
}

.popup {
    display: none;
    padding: 24px;
    width: 90%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.74);
}

.popup.active {
    display: block;
}

form > * {
    display: block;
    margin: 16px 0;
}

.change-color {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
}

a[download] {
    display: none;
    text-decoration: none;
    background: red;
    color: white;
    padding: 24px;
    margin: 22px 0 0;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

a[download].active {
    display: block;
}